*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	color: white;
	font-family: "Poppins",sans-serif;
}

.container{
	height: 100vh;
	/*background: black;*/

}

.container img{
	width: 100%;
	position:absolute;
	height: 110vh;
	object-fit: cover;
	z-index: -1;
}

.main-title{
	position: absolute;
	top: 40%;
	left: 80%;
	font-size: 5rem;
	transform: translate(-50%,-30%);
}

nav{
	position: absolute;
	display: flex;
	padding: 2rem 10rem;
	justify-content: space-between;
	width: 100%;
	font-family: "Poppins",sans-serif;	
}

.content {
	width: 100%;
	background: black;
	min-height: 110vh;
	z-index: 2 ;
	padding: 10%;
	position: absolute;
	text-align: center;
	font-family: "Poppins",sans-serif;
	font-size: 5rem;
}

.content-images{
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-between;
	min-height: 60vh;
	font-size: 1rem;
}

.text{
	padding: 2rem 20rem;
	font-size: 1rem;
}