

<h2>Hello <%= name %>, welcome to the home screen</h2>
<h3>Do you want to log out?</h3>
<h3>(Yes/No)</h3>
<form action="/logout?_method=DELETE" method="POST">
  <br>
	<button type="submit">Log Out</button>
</form>
